﻿@model TicTacToe_Server.Model.Login

@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm("Create", "LoginController", FormMethod.Post))
{
    @Html.ValidationSummary(true)
<fieldset>
    <legend>Inscription</legend>

    <div class="name-label">
        Pseudo
    </div>

    <div class="editor-label">
        @Html.TextBoxFor(model => model.name)
        @Html.ValidationMessageFor(model => model.password)
    </div>
    Mot de passe
    <div class="editor-field">
        @Html.PasswordFor(model => model.password)
        @Html.ValidationMessageFor(model => model.password)
    </div>
    Confirmation
    <div class="editor-field">
        @Html.PasswordFor(model => model.confirmPassword)
        @Html.ValidationMessageFor(model => model.password)
    </div>

    <p>
        <input type="submit" value="S'inscrire" />
    </p>
</fieldset>
}
